<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Snapshot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B3333941C28C02100831806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3333A81C28C02100831806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B3333B31C28C02100831806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF89CBB1C45FC2200359C41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
